h1 {
    font-size: 38px;
    font-weight: bold;
}

.header {
    height: 150px;
    background-color: rgb(30, 144, 255);
    background-image: url(../img/pattern.png);
    background-size: 30%;
    display: flex;
    align-items: end;
}

.header-image {
    height: 80px;
}

.text-color-gray {
    color: rgb(128, 128, 128);
}

.text-color-azure {
    color: rgb(0, 191, 255);
}

.text-color-white {
    color: rgb(255, 255, 255);
}

.text-style-bold-600 {
    font-weight: 600;
}

.text-highligh-yellow {
    background-color: rgb(255, 255, 0);
}

.text-backgroud-color-blue {
    background-color: rgb(55, 154, 254);
}

.text-backgroud-color-light-blue {
    background-color: rgb(171, 213, 255);
}

.background-image1 {
    background-image: url(../img/monitor.jpg);
}

.background-image2 {

    background-image: url(../img/graph.jpg);
}

.background-img-height {
    height: 150px;
}

.background-repeat-off {
    background-repeat: no-repeat;
}